// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Variables !
$color1: #1a133e;


//animations
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1
  }
  24% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@-webkit-keyframes flicker-1 {
  0%, 100% {
    opacity: 1
  }
  41.99% {
    opacity: 1
  }
  42% {
    opacity: 0
  }
  43% {
    opacity: 0
  }
  43.01% {
    opacity: 1
  }
  47.99% {
    opacity: 1
  }
  48% {
    opacity: 0
  }
  49% {
    opacity: 0
  }
  49.01% {
    opacity: 1
  }
}

@keyframes flicker-1 {
  0%, 100% {
    opacity: 1
  }
  41.99% {
    opacity: 1
  }
  42% {
    opacity: 0
  }
  43% {
    opacity: 0
  }
  43.01% {
    opacity: 1
  }
  47.99% {
    opacity: 1
  }
  48% {
    opacity: 0
  }
  49% {
    opacity: 0
  }
  49.01% {
    opacity: 1
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both
}

.bounce-top {
  -webkit-animation: bounce-top .9s both;
  animation: bounce-top .9s both
}

.flicker-1 {
  -webkit-animation: flicker-1 2s linear both;
  animation: flicker-1 2s linear both
}

html, body {
  .samim {
    font-family: Samim, sans-serif !important;
  }

  .beshkaste {
    font-family: Beshkasteh, sans-serif !important;
  }

  height: 100%;
  width: 100%;
  direction: rtl;
  text-align: right;
  background-color: $color1;
  position: relative;

  .navbar-brand {
    span {
      font-family: Beshkasteh, sans-serif !important;
      font-size: 3rem;
      line-height: 1rem;
    }

    i {
      font-size: 1.5rem;
    }
  }

  #header {
    .logo {
      display: inline-block;
      font-size: 3rem;
      padding-right: 20px;

      i {
        position: relative;
        top: 10px;
      }

      span {
        font-family: Beshkasteh, sans-serif !important;
        font-size: 5rem;
      }
    }

    .myuploads {
      z-index: 4;
      padding-left: 20px;
      font-family: Beshkasteh, sans-serif;
      font-size: 4rem !important;
      float: left;
      display: inline-block;
      position: relative;
      line-height: 7.5rem;
    }

    .loginbtn {
      font-size: 3rem;
      line-height: 2rem;
      padding-top: 0px;
      padding-bottom: 0.9rem;
    }
  }

  #uploadNow {
    position: absolute;
    top: 0px;

    .row {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Samim, sans-serif;

      h1 {
        text-align: center;
        display: block;
      }

      h2 {
        text-align: center;
        display: block;
        font-size: 1.4rem;
      }

      text-align: center;

    }
  }

  #footer {
    position: absolute;
    bottom: 20px;
    display: block;

    li {
      font-family: Beshkasteh, sans-serif;
      font-size: 3rem;
      padding-left: 20px;
      display: inline-flex;
      float: left;

      a {
        color: white;
      }
    }
  }

  .fileName {
    font-size: 2vw;
    border-radius: 4px;
    padding: 0px 10px;
    margin: 0px 10px;
    max-width: 53%;
    height: 2.2rem;
    overflow: hidden;
    display: inline-block;
    background-color: #24980f;
    color: white;
    top: 0.8rem;
    position: relative;
    line-height: 4vw;

  }
  .userName{
    font-size: 2vw;
    border-radius: 4px;
    padding: 0px 10px;
    margin: 0px 10px;
    //max-width: 53%;
    //height: 1rem;
    //overflow: hidden;
    display: inline-block;
    background-color: rgba(149, 152, 149, 0.46);
    color: white;
    //top: 0.8rem;
    //position: relative;
    //line-height: 4vw;

  }
  #shareIcon{
    position: relative;
    top: 100px;
    display: inline-block;
    right: -62px;
    color: #6d6868;
  }
}
