/**
To use this font in any way you have to purchase it and get a license from an authorized font shop or a reseller or me personally. (Unless you can find an option that says the font is free, otherwise all fonts should be purchased.)
Shahab Siavash  (https://shahabsiavsah.com or https://sfonts.ir) (shahab.siavash@gmail.com)
Twitter: @si47ash
**/
@font-face {
  font-family: Beshkasteh;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Si47ash_Beshkasteh.eot');
  src: url('../fonts/Si47ash_Beshkasteh.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/Si47ash_Beshkasteh.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/Si47ash_Beshkasteh.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/Si47ash_Beshkasteh.ttf') format('truetype');
}
@font-face {
  font-family: Samim;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Samim.eot');
  src: url('../fonts/Samim.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/Samim.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../fonts/Samim.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/Samim.ttf') format('truetype');
}
