/**
To use this font in any way you have to purchase it and get a license from an authorized font shop or a reseller or me personally. (Unless you can find an option that says the font is free, otherwise all fonts should be purchased.)
Shahab Siavash  (https://shahabsiavsah.com or https://sfonts.ir) (shahab.siavash@gmail.com)
Twitter: @si47ash
**/

@font-face {
  font-family: Beshkasteh;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Si47ash_Beshkasteh.eot?1e7122bdff859b4184c38521c3dcf7d5);
  src: url(/fonts/Si47ash_Beshkasteh.eot?1e7122bdff859b4184c38521c3dcf7d5) format("embedded-opentype"), url(/fonts/Si47ash_Beshkasteh.woff2?261ab89969088176b5006dc23207b9d8) format("woff2"), url(/fonts/Si47ash_Beshkasteh.woff?5717f49cce163b77b54548977bb8b3fd) format("woff"), url(/fonts/Si47ash_Beshkasteh.ttf?b5ff814752f3000c5856e97d77f1bea0) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Samim.eot?9dbc1f9569600d27f957f13e0e9fd8ed);
  src: url(/fonts/Samim.eot?9dbc1f9569600d27f957f13e0e9fd8ed) format("embedded-opentype"), url(/fonts/Samim.woff2?feebdafd5a7311217a9fedd54c134a86) format("woff2"), url(/fonts/Samim.woff?4f2225a70311a02b31376dba059ebc21) format("woff"), url(/fonts/Samim.ttf?21a9f9a8601ad222437b10e84f9361fa) format("truetype");
}

